*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    
    place-items: center;
    height: 100vh;
   
}

.topnav {
    overflow: hidden;
    background-color: #202124;
    color: #f0f0f0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
  }
  
  .topnav a {
    color: #f2f2f2;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    transition: transform 0.3s ease-out;
  }
  

 main{
     display: grid;
     grid-template-areas: 
     /* "a a b"
     "c d d"
     "c e e" */
     "a a b"
     "a a b"
     "a a b"
      "c d d"
      "c d d"
      "c e e"
      "c e e"
     ;
     gap: 1rem;
    margin: auto;
     width: 60%; 

    /* grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr; */
    grid-template-rows: 5rem 5rem 5rem 5rem 4rem 5rem 5rem;

    grid-template-columns: 1fr 0.5fr 1fr;
    padding: 2rem;
 }

 main div{
     padding: 2rem;
     border-radius: none;

 }
 .item-a{
     background-color: red;
     grid-area: a;
 }

 .item-b{
     background-color: orange;
     grid-area: b;
 }
 .item-c{
     background-color: green;
     grid-area: c;
 }

 .item-d{
     background-color: blue;
     grid-area: d;

 }
 .item-e{
     background-color: blue;
     grid-area: e;
 }

 @media screen and (max-width: 800px){ 

 }
     
 

     .topnav { 
      justify-content: center;

    }
     .topnav a{ 
        justify-content: center;
    }
     main{ 
        flex-direction: row;
        justify-content: center;
    }
  }
  




